# OSX
#
.DS_Store
git
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundle artifact
*.jsbundle

# RNFirebase specific
#
.expo/
/ios/Pods/
google-services.json
GoogleService-Info.plist

# Fastlane artifacts
UAJM4MT8F8.cer
76A6V7Q5TP.cer
Z4GNAKSVBM.cer
Food.app.dSYM.zip
AppStore_com.acttoday.food.mobileprovision
*.cer
